# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.dir
CMakeCache.txt
*.out
*.app

# OS X stuff
.DS_Store

build
bin

# VC stuff
*.vcxproj
*.filter
*.user
*.cmake
*.exp
Win32
*.sdf
*.sln
*.suo
*.png
CMakeFiles
*.filters